@font-face {
	font-family: 'Aalto Sans';
	font-weight: normal;
	font-style: normal;
	src: font-url('AaltoSansPro-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Aalto Sans';
	font-weight: normal;
	font-style: italic;
	src: font-url('AaltoSansPro-RegularIt.woff') format('woff');
}

@font-face {
	font-family: 'Aalto Sans';
	font-weight: bold;
	font-style: normal;
	src: font-url('AaltoSansPro-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Aalto Sans';
	font-weight: bold;
	font-style: italic;
	src: font-url('AaltoSansPro-BoldIt.woff') format('woff');
}
