@import 'vars';
@import 'fonts';

*, *:before, *:after {
	box-sizing: border-box;
	font-family: inherit;
}

input, button, textarea {
	font-size: 1rem;
	color: inherit;
}

html {
	font-size: 1.25em;
}

body {
	margin: 0;
	font-family: "Aalto Sans", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
	color: $darkGray;
}

h1 {
	font-size: 3rem;
	font-style: italic;
}

a {
	color: $darkBlue;
	transition: all .2s $easing;

	&:hover {
		color: $yellow;
	}
}

.container {
	width: 100%;
	max-width: 36rem;
	margin: 4rem auto;
	padding: 2rem;

	&.flat {
		margin: 0 auto;
		padding: 0 2rem;
	}
}

.form-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.stacked {
		flex-wrap: wrap;

		& > * {
			width: 100%;
		}
	}

	&.tight {
		justify-content: flex-start;
	}
}

input {
	font-style: italic;
	transition: all .2s $easing;
}

input[type=text],
input[type=number],
input[type=submit],
button {
	border: 2px solid $lightGray;
	border-radius: .25rem;
	padding: .5rem;
}

input[type=text] {

	&:focus {
		border-color: $yellow;
	}
}

button, input[type=submit] {
	font-style: normal;
	font-weight: bold;
	margin-top: 2rem;
	background: $yellow;
	border-color: $yellow;
	transition: all .2s $easing;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 0px 0px 2px $orange;
		color: $darkGray;
		border-color: $yellow;
	}

	&:disabled,
	&:disabled:hover {
		background: $lightGray !important;
		color: $mediumGray !important;
		border-color: $mediumGray !important;
	}
}

input[type=checkbox] {
	width: 1px;
	height: 1px;
	opacity: 0;
	position: absolute;
	left: -100vw;
	border: none;
	background: transparent;
	outline: none;
	box-shadow: none;

	& + label::before {
		content: '⬜';
		margin-right: .5rem;
		font-style: normal;
	}

	&:checked + label::before {
		content: '✅'
	}

	&:disabled,
	&:disabled + label {
		filter: opacity(0.5) grayscale(100%);
	}
}

aside {
	background: $lightBlue;
	position: absolute;
	width: 100%;
	max-width: 24rem;
	padding: 1rem;
	min-height: calc(100vh - 4rem);
	color: $darkGray;
	right: 0;
	top: 4rem;
	transform: translateX(100%);
	transition: transform .2s $easing;
	border-left: 2px solid $darkBlue;

	ul {
		padding: 0;

		li {
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px dotted $darkBlue;

			&:first-of-type {
				border-top: 1px dotted $darkBlue;
			}

			button {
				background: $darkBlue;
				color: $white;
				padding: .25rem;
				font-size: .875rem;
				line-height: 1;
				margin: .25rem;
				font-weight: normal;
				font-style: italic;
				border-color: $darkBlue;

				&:hover {
					box-shadow: 0 0 0 2px $yellow;
					border-color: $darkBlue;
					color: $white;
				}
			}
		}
	}

	input[type=text],
	input[type=number] {
		background: transparent;
		border: none;
		border-bottom: 1px solid $darkGray;
		border-radius: 0;
		font-weight: bold;
		padding: 0 0 .125rem;
	}
}

label {
	font-style: italic
}

.alert, .notice {
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	padding: .5rem 1rem;
	border-radius: .25rem;
	background: $red;
	color: $white;
	animation: flash 7s forwards;
}

.notice {
	background: $yellow;
}

@keyframes flash {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	94% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
